{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <p>{{ msg }}</p>
        <a href="{{ path('list') }}">Retour à la liste des jours fériés</a>
    </div>
{% endblock %}