{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        {% include 'DayOff/include/_form_day_off.html.twig' with {'form': form, 'action' : 'Ajouter'} %}
        <hr/>
        <a class="d-inline-block mb-1 w-100 text-center" href="{{ path('fetch') }}">Synchroniser les jours fériés via l'API du gouvernement</a>
        <hr/>
        <h2>Liste des jours fériés en BDD :</h2>
        <div id="list" data-path="{{ path('delete') }}" class="mt-3">
            {% for jour in jours %}
                <div class="card p-2">
                    <span class="d-inline-block mb-2">{{ jour.name }} : {{ jour.date|date('d/m/Y') }}</span>
                    {% if jour.manual == 1 %}
                        <a href="{{ path('update', {'id' : jour.id}) }}" class="d-block update-elmt">Modifier ce jour</a>
                        <a href="#" class="d-block delete-elmt" data-id="{{ jour.id }}">Supprimer ce jour</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}