{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    {% include 'DayOff/include/_form_day_off.html.twig' with {'form': form, 'action' : 'Modifier'} %}
    <br/>
    <a href="{{ path('list') }}">Retour à la liste</a>
</div>
{% endblock %}