@import "~bootstrap/scss/bootstrap";

body {
  background-color:#ecf0f3;
}

a {
  color:#007bff;
  text-decoration: none;
}

h2, legend {
  font-size: 24px;
  text-decoration: underline;
  font-weight: 300;
  color: #005282;
}

label {
  padding:6px 0;
}

#main {

  padding:25px;
  //height:100vh;
  .container {
    width:800px;
    background:#fff;
    border: 1px solid lightgray;
    border-radius:10px;
    padding:20px;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
  cursor: pointer;
}