{{ form_start(form) }}
<fieldset>
    <legend>{{ action }} un jour férié :</legend>
    <div class="row">
        <div class="col">
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr' : {'class' : 'form-control'}}) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="form-group">
                {{ form_label(form.date) }}
                {{ form_widget(form.date, {'attr' : {'class' : 'form-control'}}) }}
                {{ form_errors(form.date) }}
            </div>
            <div class="form-group">
                {{ form_row(form.save, {'attr' : {'class' : 'btn btn-primary mt-2'}}) }}
            </div>
        </div>
    </div>
</fieldset>
{{  form_end(form) }}